body {
  background-image: url("../Images/spiration-dark.png");
  margin-left: 10%;
  margin-right: 10%;
}
.bg-light {
  background-color: rgb(0, 115, 223) !important;
}
#main-navbar {
  background: rgb(0, 115, 223);
  border-color: rgb(0, 115, 223);
  padding: 10px;
}
#navbarNav {
  background: rgb(0, 115, 223);
  border-color: rgb(0, 115, 223);
}
#Navbar-toggle {
  background: rgb(0, 115, 223);
}
.nav-link {
  background: rgb(0, 115, 223);
  color: white !important;
}
.nav-link:hover {
  color: #122775 !important;
  animation-name: button-background;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}
/* Animation for button hover */
@keyframes button-background {
  100% {
    background-color: #E7E4EF;
  }
}
.navbar-brand {
  background: rgb(0, 115, 223);
  color: white !important;
}
.header {
  margin-top: 10px;
  margin-left: 20px;
}
h2 {
  color: white;
  background: blue;
  border-radius: 5px;
  animation-name: colorful;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  display: inline;
  padding: 5px;
}

h3 {
  color: white;
  background: rgb(0, 110, 255);
  border-radius: 5px;
  display: inline;
  padding: 5px;
}
.type-title {
  margin-top: 10px;
  margin-bottom: 5px;
}
@keyframes colorful {
  0% {
    background-color: #122775;
  }
  25% {
    background-color: #112057;
  }
  50%{
    background-color: #0B1544;
  }
  100% {
    background-color: black;
  }
  }
.container {
  background: white;
  margin-top:-25px;
  border-radius: 5px;
  margin-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  padding: 10px;
}
#body-image {
  border-radius: 5px;
  outline: 5px solid blue;
}
.email-section {
  margin-top: 20px;
  margin-bottom: 20px; 
}
.contact-label {
  background: #0B1544;
  color: white;
  padding: 5px;
  border-radius: 5px;
  display: inline;
}
.contact-info {
  margin-top: 10px;
  font-size: 20px;

}
.other-profiles {
  color: white;
  background: blue;
  padding: 5px;
  border-radius: 5px;
  display: inline;
  font-size: 20px;
}
.profiles-text {
  color: white;
  background: rgb(0, 110, 255);
  display: inline;
  padding: 3px;
  font-size: 20px;
}
.portfolio-name {
  color: white;
  background: #122775;
  display: inline;
  padding: 3px;
  border-radius: 5px;
  font-size: 20px;
}
.portfolio-text {
  margin-left: 25%;
}
.img-fluid {
  margin-top: 5px;
  margin-bottom: 10px;
}
.center-block {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#sound-bars {
  margin-left: 40%;
}
#footer {
  flex-shrink: 0;
  color: #E7E4EF;
  text-align: center;
  background-color: #0B1544;
  border-radius: 10px;
  height: 35px;
  margin-top: -10px;
  border-top: 8px solid #122775;
}
