body {
  background-image: url("../Images/blue_background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-left: 10%;
  margin-right: 10%;
}
.container {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0, .9);
  border-radius: 5px;
  margin-bottom: .3%;
  padding: 10px;
  font-family: 'Righteous', cursive;
}
.bg-light {
  background-color: rgb(0, 115, 223) !important;
}
#main-navbar {
  background: rgb(0, 115, 223);
  border-color: rgb(0, 115, 223);
  padding: 10px;
}
#navbarNav {
  background: rgb(0, 115, 223);
  border-color: rgb(0, 115, 223);
}
#Navbar-toggle {
  background: rgb(0, 115, 223);
}
.nav-link {
  background: rgb(0, 115, 223);
  color: rgb(255, 255, 255) !important;
}
.nav-link:hover {
  color: #122775 !important;
  animation-name: button-background;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}
@keyframes button-background {
  100% {
    background-color: rgb(255, 255, 255);
  }
}
.navbar-brand {
  background: rgb(0, 115, 223);
  color: rgb(255, 255, 255) !important;
}
.header {
  margin-top: 2%;
}
.title {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 255);
  border-radius: 5px;
  display: inline;
  padding: 5px;
}
#body-image {
  border-radius: 5px;
  outline: 5px solid blue;
}
.email-section {
  margin-top: 2%;
}
.contact-label {
  background: rgb(0, 13, 71);
  color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 5px;
  display: inline;
}
.contact-info {
  margin-top: 10px;
  font-size: 20px;
}
.profiles-text {
  color: rgb(255, 255, 255);
  background: rgb(0, 110, 255);
  display: inline;
  padding: 3px;
  font-size: 20px;
}
.portfolio-name {
  color: rgb(255, 255, 255);
  background: rgb(0, 13, 71);
  display: inline;
  padding: 3px;
  border-radius: 5px;
  font-size: 20px;
}
.content-link {
  color: rgb(0, 115, 223);
}
.content-link:hover {
  color: rgb(255, 255, 255);
}
.content-link:visited {
  color: rgba(0, 0, 255);
}

.img-fluid {
  margin-top: 1%;
  margin-bottom: 2%;
}
.image-highlight:hover {
  opacity: .5;
}
.profile-image {
  filter: brightness(0) invert(1);
}
#footer {
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: #0B1544;
  border-radius: 10px;
  height: 35px;
  margin-top: -10px;
  border-top: 8px solid #122775;
}
